<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522721501273-obcnhed75viu1b24seha62eglag21avg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522721501273-obcnhed75viu1b24seha62eglag21avg</string>
	<key>API_KEY</key>
	<string>AIzaSyCC8LdxzEaGXMoqdsiP7o4Bl7BeAAWwcIY</string>
	<key>GCM_SENDER_ID</key>
	<string>522721501273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.com</string>
	<key>PROJECT_ID</key>
	<string>get-it-done-b9b4f</string>
	<key>STORAGE_BUCKET</key>
	<string>get-it-done-b9b4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522721501273:ios:dd6a2a193b696e7e37d148</string>
</dict>
</plist>